.comments {
  margin-top: 40px; }
  .comments .comment {
    margin-bottom: 20px; }
    .comments .comment .comment-meta {
      color: #999; }
      .comments .comment .comment-meta .comment-author, .comments .comment .comment-meta .comment-date {
        margin-right: 20px; }
