.all-posts, .search-posts {
  .head-posts {
    margin-top: 40px;
    margin-bottom: 20px;

    .search-form form input {
      margin-bottom: 0;
      margin-right: 4px;
    }
  }

  .load-more {
    margin-top: 10px;
    width: 200px;
  }
}

.post {
  .post-content {
    margin-top: 25px;
  }

  .post-meta {
    color: #999;
    .post-author, .post-date, .post-count-comments {
      margin-right: 20px;
    }
  }
}
