.edit-user-profile {
  .change-password-link i.glyphicon {
    margin-right: 8px;
  }

  .cancel-account-link {
    margin-left: 8px;
  }

  .change-password, .cancel-account {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
